<a href="https://colab.research.google.com/github/jaykumar3498/Python/blob/main/Function_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
#Q1
def f1(*a):
  lis = list(a)
  for i in a:
    print("The value is",i)
f1(2,3,4,5)

The value is 2
The value is 3
The value is 4
The value is 5

In [31]:
#Q2
def calculation(a,b):
  add = a+b
  sub = a-b
  return add,sub
calculation(5,10)

(15, -5)

In [26]:
#Q3
def show_employee(name,salary=9000):
  print("Employees name is",name)
  print("Employees salary is",salary)

show_employee("Jay")

Employees name is Jay
Employees salary is 9000

In [28]:
#Q4
def func(a,b):
  def add(a,b):
    return a+b
  return 5+add(a,b)
func(5,10)

20