<a href="https://colab.research.google.com/github/jaykumar3498/Python/blob/main/Linked_list_assessment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
"""
Design a linked list, where every node contains
firstname,lastname, hobby and phone number.
Write functions to perform the following:

1.Add new element to the list.
2.Search and Rename an element from the list
3.Perform deduplication-means all duplicates should be removed
4.Reverse the list
"""
class Node:
  
    def __init__(self, data):
        self.data = data  
        self.next = None  
  
class linked_list:

    def __init__(self):
        self.head = None

    global lis
    lis=[]
    
    def new(self):
      x = input("Enter first name ")
      y = input("Enter last name ")
      v = input("Enter hobby ")
      z = input("Enter phone number ")
      lis.extend([[x,y,v,z]])
      return lis

    def change(self):
      s = input("Please enter what you are looking for ")
      for i in lis:
        for j in range(len(i)):
          if i[j]==s:
            new = input("Please enter the new value ")
            i[j] = new
            return lis
      if s not in lis:
        print("Could not find value")

    def dedup(self):
      global lis
      new_lis=[]
      for i in lis:
        if i not in new_lis:
          new_lis.append(i)
        else:
          pass
      lis = new_lis
      return lis

    def reverse(self):
      global lis
      g = lis.copy()
      new_lis = g[-1::-1]
      lis = new_lis
      return lis

In [64]:
x.new()

Enter first name Warren
Enter last name Buffet
Enter hobby Trading
Enter phone number 234522313

[['Jay ', 'Kumar', 'Python', '1234567890'],
 ['Peter', 'Griffin', 'TV', '1234455123'],
 ['Warren', 'Buffet', 'Trading', '234522313']]

In [74]:
if __name__ == '__main__':

  for i in range(len(lis)-2):
    x.head = Node(lis[i])
    second = Node(lis[i+1])
    third = Node(lis[i+2])
  
    x.head.next = second  # Link first node with second
    second.next = third  # Link second node with the third node

In [66]:
x.change()

Please enter what you are looking for TV
Please enter the new value News

[['Jay ', 'Kumar', 'Python', '1234567890'],
 ['Peter', 'Griffin', 'News', '1234455123'],
 ['Warren', 'Buffet', 'Trading', '234522313']]

In [67]:
x.reverse()

[['Warren', 'Buffet', 'Trading', '234522313'],
 ['Peter', 'Griffin', 'News', '1234455123'],
 ['Jay ', 'Kumar', 'Python', '1234567890']]

In [68]:
x.new()

Enter first name Peter
Enter last name Griffin
Enter hobby News
Enter phone number 1234455123

[['Warren', 'Buffet', 'Trading', '234522313'],
 ['Peter', 'Griffin', 'News', '1234455123'],
 ['Jay ', 'Kumar', 'Python', '1234567890'],
 ['Peter', 'Griffin', 'News', '1234455123']]

In [69]:
x.dedup()

[['Warren', 'Buffet', 'Trading', '234522313'],
 ['Peter', 'Griffin', 'News', '1234455123'],
 ['Jay ', 'Kumar', 'Python', '1234567890']]