<a href="https://colab.research.google.com/github/jaykumar3498/Python/blob/main/OOPS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
"""
    Write a Python class named Student with two attributes student_id, student_name. 
    Add a new attribute student_class and display the entire attribute and their values of the said class. 
    Now remove the student_name attribute and display the entire attribute with values.
"""
class Student:
    student_class = "10-B"

    def __init__(self,student_id,student_name):
      self.student_id = student_id
      self.student_name = student_name

    def show(self):
      print("Name is",self.student_name,"ID:",self.student_id)

Student.student_class = "!0-A"

x = Student(15,"John")
x.show()
x.student_class

Name is John ID: 15

'!0-A'

In [18]:
class Student:
    student_class = "10-B"

    def __init__(self,student_id,student_name):
      self.student_id = student_id
      self.student_name = student_name

    def show(self):
      print("Name is",self.student_name,"ID:",self.student_id)

x = Student(15,"John")
x.show()
x.student_class

Name is John ID: 15

'10-B'

In [24]:
del Student.student_class

In [26]:
x.student_class

AttributeError: ignored

In [30]:
class Student:
    student_class = "10-B"

    def __init__(self,student_id,student_name):
      self.student_id = student_id
      self.student_name = student_name

    def show(self):
      print("Name is",self.student_name,"ID:",self.student_id)

Student.student_class = "10-A"

x = Student(15,"John")
x.show()
print(x.student_class)
del Student.student_class
print(x.student_class)

Name is John ID: 15
10-A

AttributeError: ignored

In [28]:
x = Student(15,"John")
x.show()

Name is John ID: 15

In [23]:
class Math:
    def __init__(self,x,y):
      self.x = x
      self.y = y

    def pow(self):
      return self.x**self.y

x = Math(1000,0)
x.pow()

1