<a href="https://colab.research.google.com/github/jaykumar3498/Python/blob/main/OOPS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
"""
    Write a Python class named Student with two attributes student_id, student_name. 
    Add a new attribute student_class and display the entire attribute and their values of the said class. 
    Now remove the student_name attribute and display the entire attribute with values.
"""
class Student:
    student_class = "10-B"

    def __init__(self,student_id,student_name):
      self.student_id = student_id
      self.student_name = student_name

    def show(self):
      print("Name is",self.student_name,"ID:",self.student_id)

Student.student_class = "!0-A"

x = Student(15,"John")
x.show()
x.student_class

Name is John ID: 15

'!0-A'

In [18]:
class Student:
    student_class = "10-B"

    def __init__(self,student_id,student_name):
      self.student_id = student_id
      self.student_name = student_name

    def show(self):
      print("Name is",self.student_name,"ID:",self.student_id)

x = Student(15,"John")
x.show()
x.student_class

Name is John ID: 15

'10-B'

In [24]:
del Student.student_class

In [26]:
x.student_class

AttributeError: ignored

In [30]:
class Student:
    student_class = "10-B"

    def __init__(self,student_id,student_name):
      self.student_id = student_id
      self.student_name = student_name

    def show(self):
      print("Name is",self.student_name,"ID:",self.student_id)

Student.student_class = "10-A"

x = Student(15,"John")
x.show()
print(x.student_class)
del Student.student_class
print(x.student_class)

Name is John ID: 15
10-A

AttributeError: ignored

In [28]:
x = Student(15,"John")
x.show()

Name is John ID: 15

In [7]:
class Math:
    def __init__(self,x,y):
      self.x = x
      self.y = y

    def pow(self):
      return self.x**self.y

x = Math(100,1)
x.pow()

100

In [20]:
class String:
    def __init__(self,x):
      self.x = x

    def rev(self):
      y=[]
      lis = self.x.split(' ')
      for i in lis[-1::-1]:
        y.append(i)
      return ' '.join(y)

x = String('Hey')
x.rev()

'Hey'

In [28]:
"""
Write a Python class named Circle constructed by a radius and two methods which will
compute the area and the perimeter of a circle
"""

class Circle:
  
    def __init__(self,radius):
      self.radius = radius

    def area(self):
      return 3.14*self.radius**2

    def perimeter(self):
      return 3.14*self.radius*2


x = Circle(5)
x.area()

78.5

In [93]:
class Roman:
  
    def __init__(self,integer):
      self.integer = integer

    def convert(self):
      bin_1 = ['I','II','III','IV','V','VI','VII','VIII','IX','X']
      bin_2 = ['X','XX','XXX','XL','L','LX','LXX','LXXX','XC','C']
      lis=[]
      if self.integer==0:
        print("Please enter a value above 0")
      elif self.integer<=10:
        return bin_1[self.integer-1]
      elif self.integer%10!=0:
          for i in range(len(str(self.integer))):
            if i==0:
              lis.append(bin_2[int(str(self.integer)[0])-1])
            else:
              lis.append(bin_1[int(str(self.integer)[1])-1])
          return ''.join(lis)
      else:
          return bin_2[int(str(self.integer)[0])-1]

    def hund_convert(self):
      st = str(self.integer)[0]
      return int(st)*'C'

x = int(input("Please enter a number "))
r = Roman(x)
if x<100:
  print(r.convert())
elif x>=100 and x<500:
  print(r.hund_convert())
else:
  print("Out of range")

Please enter a number 100
C