<a href="https://colab.research.google.com/github/jaykumar3498/Python/blob/main/Practice_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
students = ['Alice','Bob','Emily','Charlie']
scores = [90,80,65,50]

In [6]:
exam = pd.DataFrame({"Name":students,"Scores":scores})
exam

      Name  Scores
0    Alice      90
1      Bob      80
2    Emily      65
3  Charlie      50

In [7]:
exam.loc[0,'Scores']

90

In [10]:
exam.loc[2,'Name']

'Emily'

In [11]:
exam.loc[:,'Scores']

0    90
1    80
2    65
3    50
Name: Scores, dtype: int64

In [12]:
exam.iloc[0,1]

90

In [13]:
exam['Name']

0      Alice
1        Bob
2      Emily
3    Charlie
Name: Name, dtype: object

In [14]:
gender = ['Female','Male','Female','Male']
exam['gender'] = gender

In [15]:
exam

      Name  Scores  gender
0    Alice      90  Female
1      Bob      80    Male
2    Emily      65  Female
3  Charlie      50    Male

In [17]:
exam.drop('Name',axis=1)

   Scores  gender
0      90  Female
1      80    Male
2      65  Female
3      50    Male

In [18]:
exam

      Name  Scores  gender
0    Alice      90  Female
1      Bob      80    Male
2    Emily      65  Female
3  Charlie      50    Male

In [21]:
exam.columns

Index(['Name', 'Scores', 'gender'], dtype='object')

In [22]:
exam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Scores  4 non-null      int64
 2   gender  4 non-null      object
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes

In [23]:
exam.describe()

       Scores
count    4.00
mean    71.25
std     17.50
min     50.00
25%     61.25
50%     72.50
75%     82.50
max     90.00

In [25]:
exam.rename({'Name':'Firstname'},axis=1)

  Firstname  Scores  gender
0     Alice      90  Female
1       Bob      80    Male
2     Emily      65  Female
3   Charlie      50    Male

In [26]:
sparse = pd.DataFrame({'a':[1,2,3],'b':[np.nan,4,np.nan],'c':[5,np.nan,np.nan]})
sparse

   a    b    c
0  1  NaN  5.0
1  2  4.0  NaN
2  3  NaN  NaN

In [27]:
sparse.isna()

       a      b      c
0  False   True  False
1  False  False   True
2  False   True   True

In [29]:
sparse.isnull()

       a      b      c
0  False   True  False
1  False  False   True
2  False   True   True

In [37]:
sparse.fillna(0)

   a    b    c
0  1  0.0  5.0
1  2  4.0  0.0
2  3  0.0  0.0

In [38]:
sparse

   a    b    c
0  1  NaN  5.0
1  2  4.0  NaN
2  3  NaN  NaN

In [39]:
sparse.fillna(0)

   a    b    c
0  1  0.0  5.0
1  2  4.0  0.0
2  3  0.0  0.0

In [41]:
sparse.dropna(axis=1)

   a
0  1
1  2
2  3

In [42]:
sparse

   a    b    c
0  1  NaN  5.0
1  2  4.0  NaN
2  3  NaN  NaN

In [45]:
exam.groupby('Scores').sum()

           Name  gender
Scores
50      Charlie    Male
65        Emily  Female
80          Bob    Male
90        Alice  Female

In [47]:
exam.groupby('gender').mean()

        Scores
gender
Female    77.5
Male      65.0

In [51]:
lis = [1,2,1,2]
exam.groupby(lis).get_group(1)

    Name  Scores  gender
0  Alice      90  Female
2  Emily      65  Female

In [52]:
exam.groupby(lis).get_group(2)

      Name  Scores gender
1      Bob      80   Male
3  Charlie      50   Male

In [54]:
exam['Scores'] > 70

0     True
1     True
2    False
3    False
Name: Scores, dtype: bool

In [55]:
exam[exam['Scores'] > 70]

    Name  Scores  gender
0  Alice      90  Female
1    Bob      80    Male

In [56]:
filter = exam['Scores']>70
exam.groupby(filter).mean()

        Scores
Scores
False     57.5
True      85.0

In [57]:
contacts = pd.DataFrame({'Name' :['Alice','Charlie'] ,'Tel'  :['+91 999 999 99 99', '+91 888 888 88 88']})

In [58]:
contacts

      Name                Tel
0    Alice  +91 999 999 99 99
1  Charlie  +91 888 888 88 88

In [59]:
exam.merge(contacts, left_on='Name', right_on='Name')

      Name  Scores  gender                Tel
0    Alice      90  Female  +91 999 999 99 99
1  Charlie      50    Male  +91 888 888 88 88

In [60]:
exam.merge(contacts, left_on='Name', right_on ='Name', how ='outer')

      Name  Scores  gender                Tel
0    Alice      90  Female  +91 999 999 99 99
1      Bob      80    Male                NaN
2    Emily      65  Female                NaN
3  Charlie      50    Male  +91 888 888 88 88